### LIMPIEZA Y TRANSFORMACIÓN DE DATOS

In [29]:
# Cargar librerías
import pandas as pd  # Manejo de dataframes

In [30]:
# Cargar data
df_emp = pd.read_csv("data/employee_survey_data.csv")
df_gen = pd.read_csv("data/general_data.csv", sep=";")
df_in_time = pd.read_csv("data/in_time.csv")
df_manager = pd.read_csv("data/manager_survey_data.csv")
df_out_time = pd.read_csv("data/out_time.csv")
df_retirement = pd.read_csv("data/retirement_info.csv", sep=";")

In [31]:
# Renombrar columnas
df_in_time = df_in_time.rename(columns={"Unnamed: 0": "EmployeeID"})
df_out_time = df_out_time.rename(columns={"Unnamed: 0": "EmployeeID"})

# Establecer índices
df_emp = df_emp.set_index("EmployeeID")
df_gen = df_gen.set_index("EmployeeID")
df_in_time = df_in_time.set_index("EmployeeID")
df_manager = df_manager.set_index("EmployeeID")
df_out_time = df_out_time.set_index("EmployeeID")
df_retirement = df_retirement.set_index("EmployeeID")

# Convertir a formato fecha
df_in_time = df_in_time.apply(pd.to_datetime)
df_out_time = df_out_time.apply(pd.to_datetime)

df_retirement["retirementDate"] = pd.to_datetime(
    df_retirement["retirementDate"], format="%d/%m/%Y"
)

# Eliminar columnas innecesarias ya que son redundantes
df_gen = df_gen.drop(["Over18", "StandardHours", "EmployeeCount"], axis=1)

In [32]:
# Ciclo para conocer los nulos en cada dataframe
for df in [df_emp, df_gen, df_manager, df_retirement]:
    print(df.isnull().sum())
    print("\n")

EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64


Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64


JobInvolvement       0
PerformanceRating    0
dtype: int64


Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [37]:
# Ver registros de retirementType "Fired"
df_retirement[df_retirement["retirementType"] == "Fired"]

           Attrition retirementDate retirementType resignationReason
EmployeeID
70               Yes     2016-08-23          Fired               NaN
121              Yes     2016-07-26          Fired               NaN
165              Yes     2016-11-16          Fired               NaN
183              Yes     2016-01-03          Fired               NaN
222              Yes     2016-06-22          Fired               NaN
...              ...            ...            ...               ...
4125             Yes     2016-11-15          Fired               NaN
4198             Yes     2016-10-10          Fired               NaN
4363             Yes     2016-10-02          Fired               NaN
4367             Yes     2016-06-19          Fired               NaN
4392             Yes     2016-02-26          Fired               NaN

[70 rows x 4 columns]

In [327]:
#### Nulos en columnas de los dataframes
# Los nulos de la columna NumCompaniesWorked se reemplazan por 0 (no hay alternativa)
df_gen["NumCompaniesWorked"] = df_gen["NumCompaniesWorked"].fillna(0)
# Los nulos de la columna resignationReason se reemplazan por "Fired" porque todos los nulos son los que echaron
df_retirement["resignationReason"] = df_retirement["resignationReason"].fillna("Fired")


# Ciclo para conocer los nulos en cada dataframe
for df in [df_emp, df_gen, df_manager, df_retirement]:
    print(df.isnull().sum())
    print("\n")

EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
dtype: int64


Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StockOptionLevel           0
TotalWorkingYears          9
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64


JobInvolvement       0
PerformanceRating    0
dtype: int64


Attrition            0
retirementDate       0
retirementType       0
resignationReason    0
dtype: int64

In [328]:
# Unir todos los dataframes con el índice con merge
df = (
    df_gen.merge(df_emp, on="EmployeeID", how="outer")
    .merge(df_manager, on="EmployeeID", how="outer")
    .merge(df_retirement, on="EmployeeID", how="outer")
)


### Renombrar Variable objetivo
df = df.rename(columns={"Attrition": "target"})


#### Nulos después de unir los dataframes

# Se eliminan los registros nulos de df_gen["TotalWorkingYears"], porque no se encuentran patrones (9)
df = df.dropna(subset=["TotalWorkingYears"])
# Los nan de la columna "Attrition" se reemplazan por "No"
df["target"] = df["target"].fillna("No")
# Los nan de retirementDate se reemplazan por "No"
# df["retirementDate"] = df["retirementDate"].fillna("No")
# Los nan de retirementType se reemplazan por "No"
df["retirementType"] = df["retirementType"].fillna("No")
# Los nan de resignationReason se reemplazan por "No"
df["resignationReason"] = df["resignationReason"].fillna("No")

### Comprobación de unión exitosa
df.shape

(4401, 28)

In [329]:
# Transformar variable objetivo a binaria
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
df["target"] = enc.fit_transform(df["target"])

In [331]:
# Guardar dataframe en csv para usarlo en el siguiente notebook
df.to_csv("data/df.csv", index=True)